/* COCHES*/
#Coches{
    font-family: Arial, sans-serif;
    margin: 20px;
    background: url(fotos/fondos/Fondo\ de\ coches.jpg);
    color: #ffffff;
}
h1 {
    text-align: center;
}
.car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.car {
    width: 250px;
    margin: 10px;
    text-align: center;
}
.car img{
    width: 200px;
    box-shadow: 0px 1px 9px 2px rgb(255, 255, 255);
}
.aumentado{
    z-index: 1000;
    border: 0px solid white;
    transform:scale(1.3,1.3);
}
section article{
    transition: all 1s;
        
}
/* COCHES */



/*TRAMOS*/
#Tramos{
    background: url(fotos/fondos/Fondo\ de\ tramos.jpg);
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 20px;
}
.traks {
    width: 250px;
    margin: 10px;
    text-align: center;
}
.traks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}  
.traks img {
    width: 200px;
}
section{
    padding-top: 50px;
}
/*TRAMOS*/


/*shaders*/
#shaders{
    background: url(fotos/fondos/fondo\de\shaders.png);
    margin: 20px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.shaders{
    width: 250px;
    margin: 20px;
    text-align: center;
}
.shaders img{
    width:200px;
}
section article{
    transition: all 1s;
        
}
.shaders-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}  
.Weather{
    color: rgb(54, 42, 133);
}
.Sol{
    color:rgb(181, 139, 61)
}
/*shaders*/


/*barra de busqueda */

/*acaba barra de busqueda -->*/

